.myaccountWrapper{
    
}
.leftWrapper{
    ul{
        li{
            &.active{
               a{
                background-color: #F1F8FA;
               }
            }
        }
    }
}
.rightWrapper{
    &.profileSec{
        
    }

}

.addressManagementWrapper{
    
}

.orders{
    .tabStyle1{
       margin: 0 40px 0 0;
       @media(max-width:767px){
        margin: unset;
        flex:  1;
       }
    }
}

.mblHeader{
    background-color: #e5e5e559;
    margin: 0 -15px;
    padding: 5px 15px;
}

html[lang="ar"]{
   .leftWrapper{
    .active{
        .right{
            .icon-menuback{
                transform: rotate(180deg);
            }
        }
    }
   }
}