// colors

$primary-dream-100: #08BFB0;
$primary-dream-80: #08BFB0;
$primary-dream-60: #6BD9D0;
$primary-dream-40: #9CE5DF;
$primary-dream-20: #CEF2EF;


$primary-darkgray-100:#212121;
$primary-darkgray-80: #4D4D4D;
$primary-darkgray-60: #7A7A7A;
$primary-darkgray-40: #A6A6A6;
$primary-darkgray-20: #D3D3D3;


$primary-Spanishgray-100: #969696;
$primary-Spanishgray-80: #ABABAB;
$primary-Spanishgray-60: #C0C0C0;
$primary-Spanishgray-40: #D5D5D5;
$primary-Spanishgray-20: #EAEAEA;

$primary-lightgray-100: #D8D8D8;
$primary-lightgray-80: #E0E0E0;
$primary-lightgray-60: #E8E8E8;
$primary-lightgray-40: #EFEFEF;
$primary-lightgray-20: #F7F7F7;


$Secondary-Pastel-Orange:#FBF4F0;

//Primary/Midnight Gray/100
$MidnightGray100 : #212121;


//Primary/Midnight Gray/80
$MidnightGray80 :#4D4D4D;