@import '../../styles/variables.scss';
.loginSignLeft{
    &:before{
        content: '';
        background-image: url(/assets/images/PatternLogin.png);
        position: absolute;
        top: 0;
        right: 0;
        width: 430px;
        height: 322px;
        background-repeat: no-repeat;
    }
    .loginLeftInner{
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
    }
}

.otpNumberWrp{
    margin: 0 -9px;
    @media (max-width: 1023px){
        > div{
            justify-content: center;
        }
    }
    
    input{
        width: 63px !important;
        height: 60px;
        border: 1px solid #D5D5D5;
        border-radius: 8px;
        margin: 0 9px;
        font-size: 24px;
        color: $primary-darkgray-100;
        @media (max-width: 1024px){
            width: 56px !important;
            height: 56px;
        }
        @media (max-width: 767px){
            width: 39px !important;
            height: 39px;
            font-size: 18px;
            
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none !important;
        }
        &:focus-visible{
            outline: none;
        }
        &::placeholder {
            color: #AFAFAF;
            opacity: 1;
        }
          
        &:-ms-input-placeholder { 
           color: #AFAFAF
        }
          
        &::-ms-input-placeholder {
            color: #AFAFAF;
        }
        
    }

}