/* grid section deal */
.sectionGridDeal {
    background-color: #FAFBFB;
    .gridDealBx{
      >div{
        margin: 0 -8px;
      }
      .gridDealContent{
        flex: 0 0 46%;
        margin: 14px 8px 0;
        @media (min-width: 992px) and (max-width: 1165px){
          flex: 0 0 44.33%;
        }
        @media (min-width: 768px) and (max-width: 991px){
          flex: 0 0 45%;
        }
        @media (max-width: 767px){
          flex: 0 0 44.33%;
        }
        .desc{
          background-color: #F7F7F7;
          color: #212121;
          p{
            font-size: 15px;
            line-height: 1;
          }
          span{
            font-size: 9px;
            display: block;
          }
        }
      }
    }
}
  
  /* grid section deal */