@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?yd3h5i');
  src:  url('/fonts/icomoon.eot?yd3h5i#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?yd3h5i') format('truetype'),
    url('/fonts/icomoon.woff?yd3h5i') format('woff'),
    url('/fonts/icomoon.svg?yd3h5i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-b6:before {
  content: "\e900";
}
.icon-b7:before {
  content: "\e901";
}
.icon-Back:before {
  content: "\e902";
  color: #fff;
}
.icon-brand1:before {
  content: "\e905";
}
.icon-brand2:before {
  content: "\e906";
}
.icon-brand3:before {
  content: "\e907";
}
.icon-brand4:before {
  content: "\e908";
}
.icon-brand5:before {
  content: "\e909";
}
.icon-bundles:before {
  content: "\e90b";
}
.icon-cancel-circle:before {
  content: "\e90c";
  color: #4d4d4d;
}
.icon-capsules:before {
  content: "\e90d";
}
.icon-dunkin:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\e914";
}
.icon-linkedin:before {
  content: "\e915";
}
.icon-Logo .path1:before {
  content: "\e916";
  color: rgb(8, 191, 176);
}
.icon-Logo .path2:before {
  content: "\e917";
  margin-left: -2.4140625em;
  color: rgb(8, 191, 176);
}
.icon-Logo .path3:before {
  content: "\e918";
  margin-left: -2.4140625em;
  color: rgb(8, 191, 176);
}
.icon-Logo .path4:before {
  content: "\e919";
  margin-left: -2.4140625em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-Logo .path5:before {
  content: "\e91a";
  margin-left: -2.4140625em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-Logo .path6:before {
  content: "\e91b";
  margin-left: -2.4140625em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-Logo .path7:before {
  content: "\e91c";
  margin-left: -2.4140625em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-Logo .path8:before {
  content: "\e91d";
  margin-left: -2.4140625em;
  color: rgb(0, 0, 0);
  opacity: 0.15;
}
.icon-Logo .path9:before {
  content: "\e91e";
  margin-left: -2.4140625em;
  color: rgb(8, 191, 176);
}
.icon-Logo .path10:before {
  content: "\e91f";
  margin-left: -2.4140625em;
  color: rgb(199, 199, 199);
}
.icon-Logo .path11:before {
  content: "\e920";
  margin-left: -2.4140625em;
  color: rgb(199, 199, 199);
}
.icon-Logo .path12:before {
  content: "\e921";
  margin-left: -2.4140625em;
  color: rgb(199, 199, 199);
}
.icon-menuback:before {
  content: "\e922";
}
.icon-next-icon:before {
  content: "\e924";
  color: #08bfb0;
}
.icon-twitter:before {
  content: "\e927";
}
.icon-youtube:before {
  content: "\e928";
}
.icon-best-for:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e904";
}
.icon-beans:before {
  content: "\e90e";
}
.icon-beans-fill:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e912";
}
.icon-deliver:before {
  content: "\e923";
}
.icon-return:before {
  content: "\e925";
}
.icon-arrow-down:before {
  content: "\e926";
  color: #4d4d4d;
}
.icon-share:before {
  content: "\e92b";
  color: #4d4d4d;
}
.icon-trash:before {
  content: "\e92c";
}
.icon-export:before {
  content: "\e92d";
}
.icon-Orders .path1:before {
  content: "\e929";
  color: rgb(158, 185, 211);
}
.icon-Orders .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Orders .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: none;
}
.icon-Orders .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(158, 185, 211);
}
.icon-Orders .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(158, 185, 211);
}
.icon-Orders .path6:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(158, 185, 211);
}
.icon-Orders .path7:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 85, 118);
}
.icon-Orders .path8:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(158, 185, 211);
}
.icon-Orders .path9:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(158, 185, 211);
}
.icon-address .path1:before {
  content: "\e935";
  color: rgb(255, 255, 255);
}
.icon-address .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(199, 215, 226);
}
.icon-address .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(199, 215, 226);
}
.icon-address .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(199, 215, 226);
}
.icon-address .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(69, 75, 84);
}
.icon-address .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(199, 215, 226);
}
.icon-address .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(227, 243, 247);
}
.icon-logout:before {
  content: "\e93c";
}
.icon-camera:before {
  content: "\e93d";
  color: #fff;
}
.icon-profile-avatar .path1:before {
  content: "\e93e";
  color: rgb(247, 247, 247);
}
.icon-profile-avatar .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: none;
}
.icon-profile-avatar .path3:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(211, 211, 211);
}
.icon-profile .path1:before {
  content: "\e941";
  color: rgb(134, 205, 215);
}
.icon-profile .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(68, 75, 84);
}
.icon-plus-circle:before {
  content: "\e943";
}
.icon-minus-circle:before {
  content: "\e944";
}
.icon-info:before {
  content: "\e945";
}
